<h3>{{fieldHeading}}</h3>

{{#if isJson}}
  <section class='field'>
    <label>
      {{fieldName}}
    </label>
    <div class="controls">
      {{textarea
        value=(readonly fieldValue)
        class="category-custom-field-textarea"
        change=(action "onChangeField" value="target.value")
        placeholder=(i18n 'category_custom_field.placeholder' field=fieldName)
      }}
    </div>
  </section>
{{/if}}