/* we can use this CSS file to deploy the standard CSS configs we need for every community  */ 

.topic-title-custom-field-container{      /* hide the custom field */ 
    display: none;
}
.topic-custom-field-textarea{      /* hide the custom field ... mmm .. must remove it from plugin once finished */ 
    display: none;
}

.category-custom-field-onscreen{      /* hide the custom field */ 
    display: none;
}

.layouts-custom-html{
    background: #cde7da !important;
}

#ksidebardiv{ 
    
}

.toggle-sidebar .svg-string.d-icon-plus{   /* emphasize the + to expand the Custom Sidebar when hidden */ 
    color:red !important;
}

.category-logo.aspect-image{
    --max-height: 70px;
}   

.category-logo.aspect-image img {
    max-width: 300px;
}
 